body {
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: orange;
}

h2 {
    font-size: 35px;
    font-family: italics;
}

.tagline {
    color: orange;
    font-size: 20px;
    font-weight: italics;
    background-color: black;
    padding: 1px;
    border-radius: 12px;
    border-block-end-width: 0.09px;
} 
div {
font-size: 20px;
font-family: italics;
}

p{
    font-size: 16px;
    font-family: italics;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 2px;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: lightgray;
}
#point{
    background-image: url('../IMG/PIC5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:200vh
}

img {
    margin-top: 10px;
}


#headihg{
    color: rgba(185, 45, 45, 0.685);
    font-size: 50px;
}

.mycontainer{
    background-color: aqua;
    padding: 5PX;
    
}
#mycontainer{
    background-color: rgb(103, 41, 70);
    padding: 5PX;
    
}
.MYHERTO{
    display: flex;
    justify-content: space-between;
}
h1 span{
    color: rgb(165, 42, 42);
}








































